.user-list {
  list-style: none;
}
.user-list-wrapper {
  padding: 4px;
  background: #fff;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.user-list-counted {
    
}

.user {
  border: 1px solid #777;
  padding: 2px 8px;
  display: flex;
}

.user-info {
  flex: 1 0 calc(100% / 7);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 4px;
}

.user-action {
  flex: 1 0 calc(100% / 7);
  cursor: pointer;
  background: tomato;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  &:hover {
    background-color: #a14130;
  }
}
